doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Success
    link(rel="stylesheet", href="/css/success.css")
  body
    .success-container
      h3 CONGRATULATIONS!
      p You have successfully signed into the Refactory system. Feel at home
